:root {
    --main-color: #33C3F0;
    --text-color: #fff;
    --border-color: #eee;
    --background-color: #313338;
}

html {
    background-color: var(--background-color);
    font-size: 16px; /* Base font size */
}

body {
    font-family: Consolas, monaco, monospace;
    font-size: 1.25rem; /* 20px at base font size */
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: var(--background-color);
    top: 0;
    z-index: 100;
    padding: 10px 0;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-item {
    margin: 5px 10px;
}

.navbar-link {
    padding: 0px 20px;
}

.navbar-link, .title-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.0rem; /* 15px at base font size */
    font-weight: 200;
    letter-spacing: 0.3rem;
    transition: color 0.3s ease;
}

.navbar-link.active, .navbar-link:hover, .title-link:hover {
    color: var(--main-color);
}

.header {
    margin-top: 2rem;
    text-align: center;
}

.custom-line {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
    width: 100%;
    opacity: 0.6;
}

a, a:visited {
    color: var(--main-color);
    text-decoration: underline;
}

code {
    font-family: 'Source Code Pro', monospace;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px 4px;
    border-radius: 3px;
}


.page-section {
    font-size: 1.0rem;
    line-height: 1.6;
}

.page-section h1
{ font-size: 1.4rem; }

.page-section h2
{ font-size: 1.3rem; }

.page-section h3
{ font-size: 1.2rem; }

.page-section h4
{ font-size: 1.1rem; }

.page-section h5
{ font-size: 1rem; }

.page-section h6
{ font-size: 0.9rem; }

/* Blog title */
.page-section .row a {
    font-size: 1.2rem; /* Slightly larger than base */
    font-weight: bold;
}

/* Blog date */
.page-section .row div:last-child {
    font-size: 0.9rem; /* Slightly smaller than base */
    color: #888; /* Subdued color */
}

/* 'Read more' link */
.read-more {
    font-size: 0.9rem;
    font-style: italic;
}

footer {
    font-size: 0.9375rem;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 0;
}

img {
    max-width: 100%;
}