:root {
    --main-color: #33C3F0;
    --text-color: #fff;
    --border-color: #eee;
    --background-color: #313338;
}

html {
    background-color: var(--background-color);
    font-size: 16px; /* Base font size */
}

body {
    font-family: Consolas, monaco, monospace;
    font-size: 1.25rem; /* 20px at base font size */
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: var(--background-color);
    top: 0;
    z-index: 100;
    padding: 10px 0;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-item {
    margin: 5px 10px;
}

.navbar-link, .title-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9375rem; /* 15px at base font size */
    font-weight: 200;
    letter-spacing: 0.1rem;
    transition: color 0.3s ease;
}

.navbar-link.active, .navbar-link:hover, .title-link:hover {
    color: var(--main-color);
}

.header {
    margin-top: 2rem;
    text-align: center;
}

.custom-line {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
    width: 100%;
    opacity: 0.6;
}

a, a:visited {
    color: var(--main-color);
    text-decoration: underline;
}

code {
    font-family: 'Source Code Pro', monospace;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px 4px;
    border-radius: 3px;
}

footer {
    font-size: 0.9375rem; /* 15px at base font size */
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 0;
}

@media (max-width: 600px) {
    html {
        font-size: 14px; /* Slightly smaller base font size for mobile */
    }

    body {
        font-size: 1.1429rem; /* Still 16px at new base font size */
    }

    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .navbar-item {
        margin: 5px 0;
    }

    ol, ul {
        margin-left: 2rem;
    }

    .container {
        padding: 0 15px;
    }
}